<%- include('partials/header') %>

<div class="card">
  <h1 class="title"><%= t('install_title') %></h1>
  <p class="muted"><%= t('install_desc') %></p>

  <div class="grid two install-steps">
    <div>
      <h3><%= t('install_ios') %></h3>
      <ol>
        <li><%= t('install_ios_1') %></li>
        <li><%= t('install_ios_2') %></li>
        <li><%= t('install_ios_3') %></li>
        <li><%= t('install_ios_4') %></li>
      </ol>
    </div>
    <div> 
      <h3><%= t('install_android') %></h3>
      <ol>
        <li><%= t('install_android_1') %></li>
        <li><%= t('install_android_2') %></li>
        <li><%= t('install_android_3') %></li>
      </ol>
    </div>
  </div>
  <p class="muted"><%= t('install_offline') %></p>
</div>

<%- include('partials/footer') %>
